{% extends "layout.html" %}

{% block pageTitle %}
We need to check your details
{% endblock %}

{% block header %}
{% include "../includes/header_v2.html" %}
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}


{% block beforeContent %}
{% include "../includes/phase-banner.html" %}

  <!-- {% if prevURL === "http://localhost:3000/preauth/mvp/create-spinner" or prevURL === "https://gds-identity.herokuapp.com/preauth/mvp/create-spinner" or prevURL === "https://gds-identity-ur.herokuapp.com/preauth/mvp/create-spinner" %}
    <a class="govuk-back-link" href="{{ preAuth }}">Back</a>
  {% else %}
    <a href="gov-account" class="govuk-back-link">Back</a>
  {% endif %} -->
  <a class="govuk-back-link" href="./id-decide-triage">Back</a>
{% endblock %}


{% block content %}

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">



     <h1 class="govuk-heading-xl page-heading">Proving your identity in person</h1>
     <!-- <p class="govuk-body-m">This route will involve taking an identity document for in-person verification at a Post Office.</p> -->

<!--
     <h2 class="govuk-heading-m">What is this service?</h2>

     <p>If you cannot prove your identity through the smartphone app, you can use this alternative service. You will need to have or create at GOV.UK account.</p>
-->

     <h2 class="govuk-heading-m">What you need to do</h2>

     <!-- add step-by-step navigation components here
     <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav js-hidden app-step-nav--large" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
     <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav js-hidden app-step-nav--medium" data-hide-text="Hide">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step" id="check-you-re-allowed-to-drive">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check you're allowed to drive
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-check-you-re-allowed-to-drive-1">
            <p class="app-step-nav__paragraph">Most people can start learning to drive when they’re 17.</p>

            <ol class="app-step-nav__list " data-length="3">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.1" class="app-step-nav__link js-link" href="#">Check what age you can drive </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.2" class="app-step-nav__link js-link" href="#">Requirements for driving legally </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.3" class="app-step-nav__link js-link" href="#">Driving eyesight rules </a>
              </li>
            </ol>
          </div>

        </li>


          </ol>
          </div>
          -->
          <ol class="govuk-list govuk-list--number">
            <li><p>Complete an online form to provide your basic personal details and select a photo ID you can take to a Post Office. We will then send you a confirmation email. </p></li>
            <li><p>Take the confirmation email  and your photo ID to a Post Office.</p></li>
            <li><p>A member of Post Office staff will process your photo ID and take a photo of your face to verify your identity.</p></li>
<!--            <li><p>Sign into your GOV.UK account to continue your application online. You must do this after your identity has been successfully verified.</p></li>  -->
          </ol>

          <div class="govuk-inset-text">
            Not all Post Offices offer this service. You can <a href="https://www.postoffice.co.uk/identity/in-branch-verification-service" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">find your nearest Post Office that offers in branch verification here (opens in new tab).</a>
            </div>

     <h2 class="govuk-heading-m">What happens after the Post Office</h2>

     <p>Once your identity has been proven, you must return online to your GOV.UK account to access the service you need.</p>


<!--
     <p>To prove your identity at a Post Office, you need to: </p>
     <ol class="govuk-list govuk-list--number">
       <li><p>Select which identity document you can take. You will need to have this to hand now.</p></li>
       <li><p>Complete this online form to get a confirmation email with a QR code.</p></li>
       <li><p>Take your identity document and your confirmation email to a Post Office within 10 days.</p></li>
     </ol>
-->


<!--
<p>Not all Post Offices offer this service. You can <a href="https://www.postoffice.co.uk/identity/in-branch-verification-service" target="_blank" class="govuk-link" rel="noreferrer noopener"> find your nearest Post Office that offers in branch verification here. (opens in new tab)</a></p>
-->

     <a class="govuk-button govuk-!-margin-top-4" role="button" href="./offline-select-document-triage">Continue</a>

     <p><a href="id-decide-triage" class="govuk-link govuk-link--no-visited-state"> I want to prove my identity another way</a></p>





  </div>
</div>

{% endblock %}
