{% extends "layout.html" %}

{% block pageTitle %}
We need to check your details
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}
{% endblock %}

{% block content %}

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">



               <h1 class="govuk-heading-xl page-heading">Your services</h1>

               <p>You're signed in as <a class="govuk-body govuk-!-font-weight-bold">your.name@example.com</a></p>

               <h2 class="govuk-heading-m page-heading">Your accounts</h2>

               <style type="text/css">
                   .govuk-notification-banner {
                       background-color: #f3f2f1;
                       color:#0b0c0c;
                       border-color:#b1b4b6;
                       border-width: thin;

                     }
                 </style>

                 <style type="text/css">
                     .govuk-notification-banner__title {
                         color:#0b0c0c;

                       }
                   </style>

               <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title " id="govuk-notification-banner-title" color=green;>
      GOV.UK email subscriptions
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p>
      See and manage the updates you get about GOV.UK pages you're interested in.</p>
    <p><a class="govuk-notification-banner__link" href="#">Go to your GOV.UK email subscriptions</a></p>
    <p class="govuk-hint">Last used: 10 October 2022</p>

  </div>
</div>

  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title " id="govuk-notification-banner-title" color=green;>
              LITE (Licensing for International Trade and Enterprise)
            </h2>
          </div>
      <div class="govuk-notification-banner__content">
        <p>
          Apply for or manage export control licences for controlled goods.</p>
        <p><a class="govuk-notification-banner__link" href="#">Go to your LITE account</a></p>
        <p class="govuk-hint">Last used: 15 January 2022</p>

</div>
</div>

<h2 class="govuk-heading-m page-heading">Other services you've used</h2>

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
<div class="govuk-notification-banner__content">
<p><a class="govuk-notification-banner__link" href="index">Sign your mortgage deed</a></p>
<p class="govuk-hint">Last used: 14 May 2018</p>

</div>
</div>

<style type="text/css">
    .govuk-panel--confirmation {
        background-color: #f3f2f1;
        color:#000000;
        text-align: left;

      }
  </style>


  <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-heading-m page-heading">
    About your GOV.UK One Login
  </h1>
  <div class="govuk-panel__body">
    <p>GOV.UK One Login is new.At the moment you can only use it with:</p>
    <ul class="govuk-list govuk-list--bullet">
  <li>GOV.UK email subscriptions</li>
  <li>LITE (Licensing for International Trade and Enterprise)</li>
  <li>Sign your mortgage deed</li>
</ul>
<p>GOV.UK One Login does not work with all government accounts and services yet (for example Government Gateway or Universal Credit).</p>
<p>In the future, you'll be able to use GOV.UK One Login to access all services on GOV.UK.</p>
  </div>
</div>





  </div>
</div>

{% endblock %}
