{% extends "layout.html" %}

{% block pageTitle %}
We need to check your details
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}

<a href="offline-select-document-triage" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Your photo ID has expired
    </h1>

    <p>Expired UK passports are acceptable up to 18 months after the expiry date.</p>

    <p>All other photo IDs must be in date.</p>

    <h2 class="govuk-heading-m">What you can do</h2>

    <p>If you’ve entered the wrong date, go back to correct this.</p>

    <p>To select a different photo ID, click Continue.</p>

    <form action="" method="post" class="form">


      <a href="offline-select-document-triage" type="submit" class="govuk-button" id="save-and-continue" role="button">Continue</a>

  </form>

  </div>

  </div>
{% endblock %}
