{% extends "layout.html" %}

{% block pageTitle %}
We need to check your details
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}

<a href="offline-dob" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">


     <h1 class="govuk-heading-xl page-heading">Confirm your details</h1>


     <form action="" method="post" class="form">

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Make sure the details you entered match the details on your photo ID. 
        </strong>
      </div>

       <dl class="govuk-summary-list govuk-!-margin-bottom-7">



                 <div id="enter-id" class="govuk-summary-list__row">
                   <dt class="govuk-summary-list__key">
                     Name
                   </dt>
                   <dd class="govuk-summary-list__value">


          John Alan Doe
          <br>

       <br/>
                   </dd>
                   <dd class="govuk-summary-list__actions">
                     <!--<a href="/post-office/po-document-detail/edit/council-tax" id="edit-council-tax">
                       Change<span class="govuk-visually-hidden"> Date of birth</span>
                     </a> -->
                   </dd>
                   <dd class="govuk-summary-list__actions">
                     <a class= "govuk-link--no-visited-state" href="offline-full-name">
                       Change<span class="govuk-visually-hidden"> Passport details</span>
                     </a>
                   </dd>
                 </div>

                 <div id="enter-id" class="govuk-summary-list__row">
                   <dt class="govuk-summary-list__key">
                     Date of birth 
                
                   </dt>
                   <dd class="govuk-summary-list__value">


          31 03 1980
          <br>

       <br/>
                   </dd>
                   <dd class="govuk-summary-list__actions">
                     <!--<a href="/post-office/po-document-detail/edit/council-tax" id="edit-council-tax">
                       Change<span class="govuk-visually-hidden"> Date of birth</span>
                     </a> -->
                   </dd>
                   <dd class="govuk-summary-list__actions">
                     <a class= "govuk-link--no-visited-state" href="offline-dob">
                       Change<span class="govuk-visually-hidden"> Passport expiry</span>
                     </a>
                   </dd>
                 </div>





             </dl>






<input type="hidden" name="_csrf" value="FfwQ72tV-H9h3OqJX3pxZDmQJ56_UAUeYE9g" />

<a href="./offline-next-address" type="submit" class="govuk-button" id="save-and-continue" role="button">I confirm my details are correct</a>





</div>
</div>

{% endblock %}