{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Benefits",
      href: "#"
    },
    {
      text: "Benefits and financial support if you're caring for someone",
      href: "#"
    }
  ]
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">

   <h1 class="govuk-heading-xl">
     Carer's Allowance
   </h1>

   <span class="app-step-nav-related__pretitle govuk-body">Contents</span><br>
   <ul class="govuk-list govuk-list--spaced">
   <li>&#8212;&nbsp;&nbsp;<a href="index" class="govuk-body govuk-!-font-size-19 ">How it works</a></li>
   <li>&#8212;&nbsp;&nbsp;<a href="index-ca1" class="govuk-body govuk-!-font-size-19 ">Eligibility</a></li>
   <li>&#8212;&nbsp;&nbsp;<a href="index-ca2" class="govuk-body govuk-!-font-size-19 ">Effect on other benefits</a></li>
   <p style="color:black;"><li>&#8212;&nbsp;&nbsp;Make a claim</li>
   <li>&#8212;&nbsp;&nbsp;<a href="index-ca4"  class="govuk-body govuk-!-font-size-19 govuk-link--no-visited-state">Report a change in circumstances</a></li>
   &#8212;&nbsp;&nbsp;<a href="index-ca5" class="govuk-body govuk-!-font-size-19 govuk-link--no-visited-state">If you're working</a><br>
   </p>
   </ul>

   <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="border-color:black;border-width: thin;">

   <h2 class="govuk-heading-l govuk-!-font-size-36">Make a claim</h2>

   <p>Before you apply make sure you have your:</p>

   <ul class="govuk-list govuk-list--bullet">
    <li>National Insurance number (if you have a partner you’ll need theirs too)</li>
    <li>bank or building society details (unless you get your State Pension)</li>
    <li>employment details and latest payslip if you’re working</li>
    <li>P45 if you’ve recently finished work</li>
    <li>course details if you’re studying</li>
    <li>details of any expenses, for example pension contributions or the cost of caring for your children or the disabled person while you’re at work</li>
  </ul>

  <p>You also need details of the person you care for. You need their:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>date of birth and address</li>
    <li>National Insurance number if they’re 16 or over</li>
    <li>Disability Living Allowance reference if they’re under 16</li>
      </ul>

      <p>You can backdate your claim by up to 3 months.</p>

      <a href="preauth-identity-welcome" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Apply now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>
        <br>
        <br>
        <br>
        <br>



  <h2 class="govuk-heading-l">Other ways to apply</h2>

  <p>If you cannot apply online, you can <a href="#" class="govuk-link--no-visited-state">apply by post</a> or call the Carer’s Allowance Unit to request a form.</p>

  <div class="govuk-inset-text" style="border-color:#b1b4b6;
border-width: thin;">
  General enquiries<br>
  Telephone: 0800 731 0297 <br>
  Textphone: 0800 731 0317 <br>
  <a href="#" class="govuk-link--no-visited-state">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 731 0297 <br>
  British Sign Language (BSL) <a href="#" class="govuk-link--no-visited-state">video relay service</a> if you’re on a computer - find out how to <a href="#" class="govuk-link--no-visited-state">use the service on mobile or tablet</a> <br>
  Monday to Friday, 8am to 6pm<br>
  <a href="#" class="govuk-link--no-visited-state">Find out about call charges</a>
</div>

<div class="govuk-inset-text" style="border-color:#b1b4b6;
border-width: thin;">
  Carers Allowance Unit<br>
  Mail Handling Site A<br>
  Wolverhampton<br>
  WV98 2AB
</div>

<h2 class="govuk-heading-m">Get help and advice</h2>

<p>You can get independent help and advice from:</p>

<ul class="govuk-list govuk-list--bullet">
    <li><a href="#" class="govuk-link--no-visited-state">the charity Carers UK</a></li>
    <li><a href="#" class="govuk-link--no-visited-state">the charity Carers Trust</a></li>
    <li><a href="#" class="govuk-link--no-visited-state">Citizens Advice</a></li>
      </ul>


      <h2 class="govuk-heading-m">If you disagree with a decision</h2>

      <p>You can <a href="#" class="govuk-link--no-visited-state">challenge a decision</a> about your claim. This is called asking for mandatory reconsideration.</p>




  <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination">

    <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="index-ca2" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/carers-allowance" data-track-dimension="previous" data-track-dimension-index="29">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Effect on other benefits</span>
        </a>
      </div>

    <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="index-ca4" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/carers-allowance/eligibility" data-track-dimension="next" data-track-dimension-index="29">
        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
        <span class="govuk-pagination__link-title">Next</span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label">Report a change in circumstances</span>
      </a>
    </div>
</nav>

<p><a href="#" class="govuk-link--no-visited-state">View a printable version of the whole guide</a></p>

<!---
<h2 class="govuk-heading-m">If you've already visited a Post Office to prove your identity</h2>

<p>If you’ve already visited a Post Office to prove your identity, continue to view the result of your identity check.</p>

<br>
-->
<!--
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I've already visited a Post Office to prove my identity
    </span>
  </summary>
  <div class="govuk-details__text">
    If you've already visited a Post Office, continue and then sign in to your GOV.UK One Login to view your result.
  </div>
</details>
-->


<!--
<div class="govuk-inset-text" style="border-color:#b1b4b6;
border-width: thin;">
  DVSA customer service centre<br>
  Telephone: 0300 123 9000 <br>
  Monday to Friday, 7:30am to 6pm<br>
  <a href="#">Find out about call charges</a>
</div>

<p>If you live in Northern Ireland, contact the Transport Regulation Unit to get help with your application.</p>

<div class="govuk-inset-text" style="border-color:#b1b4b6;
border-width: thin;">
  Transport Regulation Unit<br>
  Telephone: 0300 200 7831<br>
  Monday to Friday, 9am to 5pm<br>
  <a href="#">Find out about call charges</a>
</div>
-->
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h3 class="govuk-heading-m">Explore the topic</h3>

<p class="govuk-body-s"><a href="#"><b>Benefits and financial support if you're caring for someone</b></a></p>
<p class="govuk-body-s"><a href="#"><b>Lasting power of attorney, being in care and managing finances</b></a></p>
<p class="govuk-body-s"><a href="#"><b>Carers</b></a></p>

<h3 class="govuk-heading-m">Elsewhere on the web</h3>

<p class="govuk-body-s"><a href="#">Claiming benefits if you live, move or travel abroad</a></p>


   </div>

   <div class="govuk-grid-column-one-third">
    <br><br><br> <br> <br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    
    

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Related content</span>
        <p><a href="#" target="_blank" class="govuk-body ">Carer's Allowance: report changes</a></p>
          <p><a href="#" target="_blank"  class="govuk-body ">Attendance Allowance</a></p>
          <p><a href="#" target="_blank"  class="govuk-body ">Carer's Credit</a></p>
          <p><a href="#" target="_blank"  class="govuk-body ">Constant Attendance Allowance</a></p>
          <p><a href="#" target="_blank"  class="govuk-body ">Show 3 more</a></p>

      </h2>
    </div>
  </div>
 </div>

 <style type="text/css">
  .app-step-nav-related {
      border-color:#1d70b8;
      border-width: thin;

    }
</style>

<!--
 <style type="text/css">
  .govuk-inset-text {
      border-color:#b1b4b6;
      border-width: thin;

    }
</style>
-->
<style type="text/css">
  .govuk-section-break {
      background-color: #1d70b8;
      color:#1d70b8;
      border-color:#1d70b8;
      border-width: medium;

    }
</style>


{% endblock %}