
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "../includes/header_mortgage.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Driving and transport",
      href: "#"
    },
    {
      text: "Transport and driving businesses",
      href: "#"
    }
  ]
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">

   <h1 class="govuk-heading-xl">
     Apply for a vehicle operator licence
   </h1>

   <p>Use this service to apply for:</p>

   <ul class="govuk-list govuk-list--bullet">
  <li>a goods vehicle operator's licence</li>
  <li>a public service vehicle (PSV) operator's licence</li>
  <li>an interim operator licence</li>
</ul>

<p>You can also pay any application or licence fees.</p>

<!---
<h2 class="govuk-heading-m">If you've already visited a Post Office to prove your identity</h2>

<p>If you’ve already visited a Post Office to prove your identity, continue to view the result of your identity check.</p>

<br>
-->
<!--
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I've already visited a Post Office to prove my identity
    </span>
  </summary>
  <div class="govuk-details__text">
    If you've already visited a Post Office, continue and then sign in to your GOV.UK One Login to view your result.
  </div>
</details>
-->

<h2 class="govuk-heading-m">Before you start</h2>

<p>To support your application, you need to send evidence that proves you have enough money to run your business. All finance documents must be in the name of the business applying for the licence.</p>

<h3 class="govuk-heading-s">If you’re applying for a heavy goods vehicle (HGV) operator licence</h3>

<p>You need to advertise your application in a local newspaper in the traffic area your business operates in. You’ll need to upload a copy of your advert when you apply.</p>

<p>Your application will be refused if you do not advertise your application correctly.</p>

<p>You’ll need to hold a goods vehicle operator’s licence for each traffic area where you have an operating centre. The traffic areas are:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>east of England</li>
  <li>north-east of England</li>
  <li>north-west of England</li>
  <li>west of England</li>
  <li>London and the south-east of England</li>
  <li>West Midland</li>
  <li>Scotland</li>
  <li>Wales</li>
</ul>

<p>To find out more about traffic areas and how to make sure you have the right licence, email the Office of the Traffic Commissioner: <a href=#>enquiries@otc.gov.uk</a>.</p>

<h2 class="govuk-heading-m">Apply for a vehicle operator licence</h2>

<p>You'll need:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>a debit or credit card</li>
  <li>your username and password if you’ve used the service before</li>
</ul>

<p>You can register in the service if you’ve not used it before.</p>


<a href="loading-page2" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
  <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>
  <br>
  <br>

   <h2 class="govuk-heading-m">What you need to know</h2>
   <p>After you apply online, you’ll usually get a decision within 7 weeks. It can take longer - for example, if you do not provide all requested supporting documents when you apply.</p>


<h2 class="govuk-heading-m">Help with your application</h2>
<p>If you live in England, Scotland or Wales, contact the DVSA to get help with your application.</p>

<div class="govuk-inset-text">
  DVSA customer service centre<br>
  Telephone: 0300 123 9000 <br>
  Monday to Friday, 7:30am to 6pm<br>
  <a href="#">Find out about call charges</a>
</div>

<p>If you live in Northern Ireland, contact the Transport Regulation Unit to get help with your application.</p>

<div class="govuk-inset-text">
  Transport Regulation Unit<br>
  Telephone: 0300 200 7831<br>
  Monday to Friday, 9am to 5pm<br>
  <a href="#">Find out about call charges</a>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-s">Explore the topic</h3>

<p class="govuk-body-s"><a href="#"><b>Transport and driving businesses</b></a></p>


   </div>

   <div class="govuk-grid-column-one-third">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Related content</span>
        <a href="#" target="_blank" class="govuk-body govuk-!-font-size-16"> Manage your vehicle operator licence</a><br>
          <a href="#" target="_blank"  class="govuk-body govuk-!-font-size-16">Being a goods vehicle operator</a><br>
          <a href="#" target="_blank"  class="govuk-body govuk-!-font-size-16">PSV (Public Service Vehicle) operator licences</a><br>
          <a href="#" target="_blank"  class="govuk-body govuk-!-font-size-16">Run a local bus service</a><br>

      </h2>
    </div>
  </div>
 </div>

 <style type="text/css">
  .app-step-nav-related {
      border-color:#1d70b8;
      border-width: medium;

    }
</style>

 <style type="text/css">
  .govuk-inset-text {
      border-color:#b1b4b6;
      border-width: thin;

    }
</style>

<style type="text/css">
  .govuk-section-break {
      background-color: #1d70b8;
      color:#1d70b8;
      border-color:#1d70b8;
      border-width: medium;

    }
</style>


{% endblock %}

