{% extends "layout.html" %}

{% block pageTitle %}
We need to check your details
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">This journey is outside scope for this prototype.</h1>

<p>Continue this journey <a href="index.html"> again</a></p>
<p>Go back to the <a href="../index.html"> home page</a></p>


  </div>
</div>

{% endblock %}
