{% extends "layout.html" %}

{% block pageTitle %}
We need to check your details
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}

{% endblock %}

{% block content %}

<style type="text/css">
    .govuk-panel--confirmation {
        background-color: #f3f2f1;
        color:#000000;

      }
  </style>


<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
     {{ govukPanel({
       titleText: "You need to go to a Post Office in the next 10 days"
     }) }}

     <p class="govuk-body">You have successfully entered your details.</p>

     <p class="govuk-body">You’ll get a confirmation email with a customer letter attached from Post Office.</p>

     <h2 class="govuk-heading-m">What you need to bring to the Post Office</h2>

     <p>To finish proving your identity, you need to go to a Post Office in the next 10 days.</p>

     <p>You'll need to bring:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your chosen photo ID</li>
  <li>your Post Office customer letter</li>
</ul>

          <p class="govuk-body">You can bring a printed copy of your customer letter or show it on your phone.</p>

          <p>A member of staff will scan your photo ID and take a photo of you.</p>

<!--
          <p class="govuk-body">
           You can bring your authenticaiton email as a printed copy or display your QR code attachment on your smartphone at the Post Office.
          </p>

          <p class="govuk-body">
         At the Post Office, a member of staff will scan the QR code to process your document.
          </p>
-->
          <h2 class="govuk-heading-m">After you've visited the Post Office</h2>

          <p>You’ll get an email with the outcome of your identity check - usually within a day of visiting the Post Office.</p>

          <h2 class="govuk-heading-m">If you need help</h2>
<!--
          <p>Once successfully verified, you will need to sign into your GOV. UK account online to continue your application.</p>
-->
         

         <p class="govuk-body">
           <a href="#" class="govuk-link">Contact us (opens in new tab)</a>
         </p>

         <div class="govuk-inset-text">
          Prefer to not visit a Post Office? You can <a href="./app-intro" class="govuk-link">prove your identity online.</a>
        </div>


<!--
     <br/><br/><br/>
          <p class="govuk-body">
            <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
          </p>
          -->
         <!-- <p> Link to  <a href="offline-email-confirmation">email</a> confirmation (for UR purpose)</p> -->

        </div>
      </div>


{% endblock %}
