{% extends "layout.html" %}

{% block pageTitle %}
Enter your mobile phone number
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}
<a class="govuk-back-link" href="auth-security-codes">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Enter your mobile phone number
    </h1>

    <p>We need your mobile phone number to send you text messages about your identity check.</p>

    <p>We will send a 6 digit security code to confirm the number you give us.</p>




    <form class="form" action="/v14/auth-create-checkphone" method="post">

      <!-- Enter Password -->

      
        <div class="govuk-form-group">
          <label class="govuk-label" for="mobile-number">UK mobile phone number</label>

          <div class="gem-c-show-password__input-wrapper">
            <input class="govuk-input govuk-input--width-20" id="mobile-numberauth" name="mobileNumberauth" type="tel" spellcheck="false" autocomplete="tel">

          </div> <!-- /. gem-c-show-password__input-wrapper -->
        </div> <!-- /. govuk-form-group -->
       <!-- /. gem-c-show-password -->

      <!-- How to make a secure password -->

      <div class="govuk-form-group">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" name="nonukNumberauth" type="checkbox" value="email" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-checkboxes__label" for="contact">
                I do not have a UK mobile number
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Mobile phone number
                </label>
                <div id="contact-hint" class="govuk-hint">
                  Include the country code, for example +33 for France
                </div>
                <input class="govuk-input govuk-!-width-one-half" id="contact-by-email" name="intNumberauth" type="tel" spellcheck="false" autocomplete="email">
              </div>
            </div>
            
          </div>
        </fieldset>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I cannot receive text messages
          </span>
        </summary>
        <div class="govuk-details__text">
          If you cannot receive text messages, you'll need to <a href="f2f-escape2">prove your identity another way</a>. This will cancel your current identity check.
        </div>
      </details>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>




  </div>
</div>

{% endblock %}
