{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Text message reminder from GOV UK
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

    <img src="../public/images/PO_process.png" width="3000" height="800" alt="An illustration of an iPhone screen displaying a text message from GOV UK. The text message reads : To finish proving your identity, take your photo ID and letter to a Post Office that offers in-branch verification on or before 28 July.">

<br>
<br>
<br>

<a href="offline-successful-email" type="submit" class="govuk-button" id="save-and-continue" role="button">After the Post Office</a>

</div>





</div>

{% endblock %}