{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Text message reminder from GOV UK
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

    <img src="../public/images/PO-process-return.png" width="1500" height="800" alt="An illustration of the identity verification process at the Post Office. 
    You arrive at the Post Office, where a member of staff then scans your Post Office customer letter. The member of staff then scans your photo ID, and you receive a text message from GOV.UK. 
    Afterwards the member of staff takes a scan of your face.">

<br>
<br>
<br>

<form class="form" action="/v14/offline-successful-email" method="post">

    <button class="govuk-button" data-module="govuk-button">
      Go to result
    </button>
    
    </form>

</div>





</div>

{% endblock %}