{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Post Office Customer letter
{% endblock %}

{% block content %}



<!--
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <a href="https://www.gov.uk/government/organisations/government-digital-service"> <img src="../public/images/gds_blue.jpeg" alt="qr code"></a>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p>John Doe &lt;john.doe@example.com&gt;</p>
  </div>
  </div>
-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" style="color:rgb(224, 25, 25);">In-branch verification for GOV.UK One Login</h1>
    <!--
    <p class="govuk-body-l">John Smith<br>
    E14 3RN</p>
    -->
    </div>
    <div class="govuk-grid-column-one-third">
      <img src="https://upload.wikimedia.org/wikipedia/en/7/78/Post_Office_Logo.svg" alt="Post office logo" width="128" height="96">
      <!--
      <br>
      <br>
      <br>
      <h2 class="govuk-heading-s">About in-branch verification</h2>
      -->
    </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p style="font-size: 36px;">John Smith<br>
        E14 3RN</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">About in-branch verification</h3>
        <p>Providing proof of your identity is easy with the Post Office. Bring this letter and your original documents
          to the selected branch and once we've checked them, we can return them to you immediately. Please ensure all 
          documents are in your name with your current address and are original, not photocopies or print-outs.
        </p>
      </div>
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible">
        </div>
    </div>

    <br>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Selected Post Office branch</h3>
            <p>Brixton Hill<br>
              106 Brixton Hill, London<br>
          SW2 1AH</p>
          </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-m">Payment info</h3>
              <p>The total payment required at your Post Office is:</p>
              <p style="font-size: 36px;color:rgb(224, 25, 25);">£0.00</p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-m">Time to complete</h3>
              <p>Please complete this identity verification by:</p><br>
              <p style="font-size: 36px;color:rgb(224, 25, 25);">31 Aug 2023</p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible">
        </div>
    </div>

    <br>

    <h2 class="govuk-heading-l" style="color:rgb(224, 25, 25);">Documents to bring with you</h2>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        <span style="font-size: 24px;color:rgb(172, 168, 168);">1&nbsp;&nbsp;&nbsp;</span>
    <span style="font-size: 24px;;">Passport&nbsp;&nbsp;&nbsp;</span>
    <span style="font-size: 24px;color:rgb(172, 168, 168);">United Kingdom</span>
      </p>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--visible" style="border-color:rgb(172, 168, 168);">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <p style="color:rgb(224, 25, 25);"><b>postoffice.co.uk</b></p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1024px-QR_code_for_mobile_English_Wikipedia.svg.png" alt="A QR code" width="170" height="170">
      </div>
    </div>






   
    

  
</div>

{% endblock %}