{% extends "layout.html" %}

{% block pageTitle %}
Check your phone
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}
<a class="govuk-back-link" href="./auth-create-mobile">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Check your phone
    </h1>

    <div class="govuk-inset-text">
      We have sent a code to <b>*******6789</b>
    </div>

    <p>It might take a few minutes to arrive. The code will expire after 15 minutes.</p>

      {# skip the success page  <form class="form" action="/auth/v8/create-success" method="post"> #}

    <form class="form" action="./pyi-start" method="post">

      <div class="govuk-form-group">

        <label class="govuk-label" for="otp">Enter the 6 digit security code</label>

        <input class="govuk-input govuk-input--width-5" id="otp" name="create-sms-otp" type="text" autocomplete="one-time-code" inputmode="numeric" spellcheck="false" >

      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Problems with the code?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>We can <a href="">send the code again</a> or you can <a href="">use a different phone number</a>.</p>
          <p><a href="">Get a code another way</a>.</p>
        </div>
      </details>


      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
