{% extends "layout.html" %}

{% block pageTitle %}
Enter your details exactly as they appear on your UK passport
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  <a class="govuk-back-link" href="./offline-select-document-triage">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Enter the country of issue of your EEA national identity card</h1>

        <p>If the country of issue on your photo ID is not on this list, you'll need to choose another photo ID.</p><br>

      <form class="form" action="find-nearest-po" method="post">

    <p><a href="./offline-select-document-triage" class="govuk-link govuk-link--no-visited-state">The country of issue on my photo ID is not on the list</a></p>


       


  <button href="find-nearest-po" class="govuk-button" data-module="govuk-button">Continue</button>

          </form>



      </div>
    </div>




  {% endblock %}