{% extends "layouts/main.html" %}

{% block pageTitle %}
  Autocomplete question page template – {{ serviceName }} – GOV.UK Prototype Components
{% endblock %}

{% block beforeContent %}
<a href="./offline-eu-id-card" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}
  <form class="form" action="./find-nearest-po" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Enter the country of issue of your EEA national identity card</h1>
    
            <p>If the country of issue on your photo ID is not on this list, you'll need to choose another photo ID.</p><br>
    
        {{ xGovukAutocomplete({
          id: "country",
          name: "country",
          allowEmpty: false,
          
          items: [
            { text: "Austria" },
            { text: "Belgium" },
            { text: "Bulgaria" },
            { text: "Croatia" },
            { text: "Republic of Cyprus" },
            { text: "Czech Republic" },
            { text: "Denmark" },
            { text: "Estonia" },
            { text: "Finland" },
            { text: "France" },
            { text: "Germany" },
            { text: "Greece" },
            { text: "Hungary" },
            { text: "Ireland" },
            { text: "Italy" },
            { text: "Latvia" },
            { text: "Lithuania" },
            { text: "Luxembourg" },
            { text: "Malta" },
            { text: "Netherlands" },
            { text: "Poland" },
            { text: "Portugal" },
            { text: "Romania" },
            { text: "Slovakia" },
            { text: "Slovenia" },
            { text: "Spain" },
            { text: "Sweden" },
            { text: "United Kingdom"}

          ]
        }) }}

        <p><a href="./offline-select-document-triage" class="govuk-link govuk-link--no-visited-state">The country of issue on my photo ID is not on the list</a></p>


       


        <button href="./find-nearest-po" class="govuk-button" data-module="govuk-button">Continue</button>
      
      </div>
    </div>
  </form>
{% endblock %}