{% extends "layout.html" %}

{% block pageTitle %}
Enter your email address
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
     Confirm your email address
    </h1>

    <p class="govuk-body">For security, we need to confirm the email address the file was sent to before you can download it.</p>

    <form class="form" action="offline-po-letter3" method="post">
      <div class="govuk-form-group">
        <!-- <div id="email-hint" class="govuk-hint">
            We’ll only use this to send you a receipt
        </div> -->
        <label class="govuk-label" for="event-name">
          Email address
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="email" name="emailAddress" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" value="john.doe@example.com">
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>


  </div>
</div>

{% endblock %}