{% extends "layout_poc.html" %}

{% block pageTitle %}
Enter your password
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}
<a href="./auth-create-email2" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Enter your password
    </h1>


    <form class="form" action="./auth-create-checkphone2" method="post">
      <div class="govuk-form-group">
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-10" id="weight" name="weight" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true"><a class="govuk-link" href="">Show</a></div>
        </div>
      </div>
      
      <style type="text/css">
        .govuk-input__suffix{
            background-color: #ffffff;
            color:#ffffff;
      
          }
      </style>

      <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p>


      <button class="govuk-button" data-module="govuk-button">Continue</button>
      <input class="govuk-input" name="signin" type="hidden" value="create">
    </form>
  </div>
</div>

{% endblock %}
