{% extends "layout_poc.html" %}

{% block pageTitle %}
Confirm your details
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}

<a href="offline-dob" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">


     <h1 class="govuk-heading-l page-heading">Confirm your details</h1>

     <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Make sure the details you entered match the details on your photo ID.
      </strong>
    </div>


     <form action="address-entry-spinner" method="post" class="form">


             {{ govukSummaryList({
              classes: 'govuk-!-margin-bottom-9',
              rows: [
              {
              key: {
              text: "Name"
              },
              value: {
              text: data['first-name'] + ' ' + data['middle-name'] + ' ' + data['surname']
              },
              actions: {
              items: [
              {
              href: "offline-full-name",
              text: "Change",
              visuallyHiddenText: "name"
              }
              ]
              }
              },
              {
              key: {
              text: "Date of birth"
              },
              value: {
              text: data['user-dob-day'] + ' ' + data['user-dob-month'] + ' ' + data['user-dob-year']
              },
              actions: {
              items: [
              {
              href: "offline-dob",
              text: "Change",
              visuallyHiddenText: "date of birth"
              }
              ]
              }
              }
              ]
              }) }}






<input type="hidden" name="_csrf" value="FfwQ72tV-H9h3OqJX3pxZDmQJ56_UAUeYE9g" />

<button id="button" class="govuk-button" data-module="govuk-button">I confirm my details are correct</button>
</form>




</div>
</div>

{% endblock %}
