{% extends "layout_poc.html" %}

{% block pageTitle %}
We need to check your details
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block pageScripts %}
{% endblock %}


{% block beforeContent %}
{% include "../includes/phase-banner.html" %}

  <!-- {% if prevURL === "http://localhost:3000/preauth/mvp/create-spinner" or prevURL === "https://gds-identity.herokuapp.com/preauth/mvp/create-spinner" or prevURL === "https://gds-identity-ur.herokuapp.com/preauth/mvp/create-spinner" %}
    <a class="govuk-back-link" href="{{ preAuth }}">Back</a>
  {% else %}
    <a href="gov-account" class="govuk-back-link">Back</a>
  {% endif %} -->
{% endblock %}


{% block content %}

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">

            <form action="outside-scope" method="post">

     <h1 class="govuk-heading-l page-heading">Prove your identity another way</h1>

     <p>Based on what you told us, you cannot prove your identity with GOV.UK One Login.</p>

     <h2 class="govuk-heading-m">What you can do</h2>

     <p>Continue to the service you were trying to use and look for other ways to prove your identity.</p>

    
                   <button class="govuk-button" data-module="govuk-button">Continue</button>
    
               </form>

               <p><a class="govuk-link" href="https://signin.account.gov.uk/contact-us">Contact the GOV.UK One Login team (opens in new tab)</a></p>



  </div>
</div>

{% endblock %}
