{% extends "layout_poc.html" %}

{% block pageTitle %}
Enter your date of birth
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}

<a href="offline-full-name" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">


               <h1 class="govuk-heading-l page-heading">Enter your date of birth</h1>



               <form action="cic-check" method="post" class="form">


               {{ govukDateInput({
                id: "user-dob",
                namePrefix: "user-dob",
                hint: {
                text: "For example, 31 3 1980"
                },
                items: [
                {
                name: "day",
                value: data['user-dob-day'],
                classes: "govuk-input--width-2",
                autocomplete: "bday-day"
                },
                {
                name: "month",
                value: data['user-dob-month'],
                classes: "govuk-input--width-2",
                autocomplete: "bday-month"
                },
                {
                name: "year",
                value: data['user-dob-year'],
                classes: "govuk-input--width-4",
                autocomplete: "bday-year"
                }
                ]
                })
        
                }}





               <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>



               </form>



  </div>
</div>

{% endblock %}
