{% extends "layout_poc.html" %}

{% block pageTitle %}
Enter your name exactly as it appears on your photo ID
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}
{% endblock %}

{% block content %}

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">



               <h1 class="govuk-heading-l page-heading">Enter your name exactly as it appears on your photo ID</h1>




               <form action="offline-dob" method="post" class="form">


                {{ govukInput({
                  label: {
                  text: "Surname"
                  },
                  id: "surname",
                  name: "surname",
                  autocomplete: "given-name",
                  spellcheck: false,
                  value: data['surname']
                  }) }}
          
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">Given names</legend>
                    <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2" style="border-left-width: 4px;">
                  {{ govukInput({
                  label: {
                  text: "First name"
                  },
                  id: "first-name",
                  name: "first-name",
                  autocomplete: "family-name",
                  spellcheck: false,
                      value: data['first-name']
                  }) }}
          
                  {{ govukInput({
                  label: {
                  text: "Middle names"
                  },
                  hint:{
                  text:"Leave this blank if you do not have any middle names"
                  },
                  id: "middle-name",
                  name: "middle-name",
                  autocomplete: "additional-name",
                  spellcheck: false,
                      value: data['middle-name']
                  }) }}
                    </div>
                  </fieldset>
          
                  <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
                </form>


  </div>
</div>

{% endblock %}
