{% extends "layout.html" %}

{% block pageTitle %}
Does your driving licence have your current address on it?
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}
<a href="offline-eu-driving-licence" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">

             <h1 class="govuk-heading-xl page-heading">Does your EU driving licence have your current address on it?</h1>


               <p>If your driving licence has your previous address on it, you'll need to choose another type of photo ID.</p><br>

               <!-- <p>The document must be an original and in your current name. Photo or scanned copies will not be accepted.</p> -->

               <form action="" method="post">




                                 {{ govukRadios({
                                   classes: "govuk-radios",
                                   idPrefix: "offline-doc-check1",
                                   name: "offline-doc-check1",
                                   
                                    
                                  


                                   items: [
                                     {
                                       value: "yes~./offline-coi-eu",
                                       html: "<p>Yes, it has my current address on it</p>"

                                     },
                                     {
                                      value: "no~./offline-select-document-triage",
                                      html: "<p>No, it has my previous address on it</p>"
                                    },
                                    {
                                      divider: "or"
                                    },
                                    {
                                      value: "noaddress~./offline-coi-eu",
                                      text: "My driving licence does not have my address on it"
                                    }
                                       ]

                                     }) }}

                                     



               <button class="govuk-button" data-module="govuk-button">Continue</button>

           </form>


              



  </div>
</div>

{% endblock %}