{% extends "layout_poc.html" %}

{% block pageTitle %}
Prove your identity with a GOV.UK account
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="./id-decide-triage" method="post">



      <h2 class="govuk-heading-l">You can prove your identity at a Post Office if you have one of the following documents</h2>

      <p>You can take your photo ID to a Post Office to be checked in person. You'll need to enter your details on GOV.UK before you can do this.</p>

      <h2 class="govuk-heading-m">EU photocard driving licence</h2>

      <p>You can use a valid full or provisional driving licence with your photo on it.</p>

      <h2 class="govuk-heading-m">Non-biometric passport</h2>

      <p>You can use any type of passport to prove your identity in person at the Post Office, not just biometric passports.</p>

     

      <h2 class="govuk-heading-m">National identity card from a European Economic Area (EEA) country</h2>

      <p>You can use a national identity card from countries in the European Economic Area (EEA) except Denmark, Iceland and Ireland.</p>

      <div class="govuk-inset-text">
        You can also use one of the documents listed on the previous page to prove your identity in person at the Post Office.
      </div>




      <h2 class="govuk-heading-m">Can you prove your identity in-person using one of these documents?</h2>

      {{ govukRadios({
        classes: "govuk-radios",
        name: "changed-name",

        hint: {
          text: "There may be other ways to prove your identity if you do not have one of the above photo ID documents."
        },
        
        items: [
          {
            value: "yes~./offline-full-name",
            text: "Yes"
          },
          {
            value: "no~./f2f-escape2",
            text: "No"
          }
        ]
      }) }}



      

      <!-- <p>You can then either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>upload a picture of your photo ID using the GOV.UK ID Check app</li>
        <li>enter the details from your photo ID and answer some security questions that only you should know the answers to</li>
      </ul> -->


      <!-- {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "use-govuk-account",
      name: "use-govuk-account",
      fieldset: {
        legend: {
          text: "Choose a way to prove your identity",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Continue to sign in or create a GOV.UK account",
          hint: {
            text: "You'll need your photo ID to prove your identity this way."
          },
          checked: checked("use-govuk-account", "yes")
        },
        {
          value: "no",
          text: "Prove your identity another way",
          hint: {
            text: "You can prove your identity online with GOV.UK Verify or take your identity documents to be checked in person."
          },
          checked: checked("use-govuk-account", "no")
        }
      ]
    }) }} -->

    <button class="govuk-button">Continue</button>

</form>

    {% if data['devMode'] === 'true' %}
    {# DEVMODE SCENARIOS #}

    <details class="nhsuk-details dev-mode govuk-!-margin-bottom-5" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <h4>Alternate versions</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="identity-welcome">Standard page (signed out)</a>
          </li>
          <li>
            <a href="identity-welcome-signedin">Signed in version</a>
          </li>
        </ul>
      </div>
    </details>
    {% endif %}

  </div>

</div>
{% endblock %}
