{% extends "layout_poc.html" %}

{% block pageTitle %}
We need to check your details
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="auth-enter-password" method="post" class="form">

    <h1 class="govuk-heading-xl page-heading">Enter your email address to sign in to GOV.UK One Login</h1>

    <!--<h2 class="govuk-heading-m page-heading">Enter your email address</h2>-->

    <div class="govuk-form-group">
      <input class="govuk-input govuk-!-width-one-half" id="one-half" name="one-half" type="text">
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>
<!--
    <p>You can use your GOV.UK One Login to access some government services.</p>

    <p>In the future, you'll be able to use it with all servcies on GOV.UK.</p>

    <h2 class="govuk-heading-m page-heading">Create your GOV.UK One Login or sign in</h2>

    <p>You'll need:</p>

    <ul class="govuk-list govuk-list--bullet">
  <li>an email address</li>
  <li>a way to get security codes - this can be a UK mobile phone number or an authenticator app</li>
</ul>


<p>If you already have a GOV.UK account you can <a href="./auth-create-email3.html" class="govuk-link">sign in.</a></p>
-->

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      About GOV.UK One Login
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>GOV.UK One Login is new. At the moment you can only use your GOV.UK One Login for a few services.</p>
    <p>GOV.UK One Login is currently separate from other government accounts (for example Government Gateway or Universal Credit).</p>
    <p>In the future, you’ll be able to use your GOV.UK One Login to sign in to most services on GOV.UK.</p>
  </div>
</details>

</form>








  </div>
</div>

{% endblock %}
