{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK One Login: report a problem or give feedback
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}

{% endblock %}

{% block content %}

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">

             <h1 class="govuk-heading-l page-heading">GOV.UK One Login: report a problem or give feedback</h1>

             <p>Use this form to:</p>

             <ul class="govuk-list govuk-list--bullet">
              <li>tell us about a problem you’re having with your GOV.UK One Login</li>
              <li>suggest improvements or give feedback about your experience using your GOV.UK One Login</li>
            </ul>

            <p>Our office hours are 9:30am to 5:30pm, Monday to Friday. We’ll respond to you by email in 2 working days.</p>




             <form action="" method="post">




                {{ govukRadios({
                  classes: "govuk-radios",
                  idPrefix: "user-support-form-home",
                  name: "what-are-you-contacting-us-about",
                  fieldset: {
                    legend: {
                      text: "What are you contacting us about?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  
                   
                 


                  items: [
                    {
                      value: "A problem creating a GOV.UK One Login",
                      text: "A problem creating a GOV.UK One Login"

                    },
                    {
                     value: "A problem signing in to your GOV.UK One Login",
                     text: "A problem signing in to your GOV.UK One Login"
                   },
                   {
                    value: "A problem proving your identity using the GOV.UK ID Check app",
                    text: "A problem proving your identity using the GOV.UK ID Check app"
                  },
                  {
                    value: "A problem proving your identity with the Post Office~./user-support-form-po",
                    text: "A problem proving your identity with the Post Office"
                  },
                  {
                    value: "A problem proving your identity",
                    text: "A problem proving your identity"
                  }
                      ]

                    }) }}

                    



<button class="govuk-button" data-module="govuk-button">Continue</button>

</form>





  </div>
</div>

{% endblock %}