{% extends "layout.html" %}

{% block pageTitle %}
We need to check your details
{% endblock %}

{% block header %}
{% include "../includes/header_dbs.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}

  {% if prevURL === "http://localhost:3000/preauth/mvp/create-spinner" or prevURL === "https://gds-identity.herokuapp.com/preauth/mvp/create-spinner" or prevURL === "https://gds-identity-ur.herokuapp.com/preauth/mvp/create-spinner" %}
    <a class="govuk-back-link" href="{{ preAuth }}">Back</a>
  {% else %}
    <a href="gov-account" class="govuk-back-link">Back</a>
  {% endif %}
{% endblock %}

{% block content %}

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">



     <h1 class="govuk-heading-xl page-heading">Validating your identity at the Post Office</h1>


     <p>To validate your identity at the Post Office you need to follow 3 steps:</p>
     <ol class="govuk-list govuk-list--number">
       <li><p>Select the identity documents you have to hand from our list.</p></li>
       <li><p>Print the letter we&#39;ll generate for you after you complete the rest of your application.</p></li>
       <li><p>Take your documents and the letter to a post office that offers the DBS ID validation service within 10 days (we&#39;ll generate a list of your nearest post offices at the end of this application).</p></li>
     </ol>

     <a class="govuk-button govuk-!-margin-top-4" role="button" href="./offline-select-document-first">Continue to document list</a>





  </div>
</div>

{% endblock %}
