{% extends "layout.html" %}

{% block pageTitle %}
We need to check your details
{% endblock %}

{% block header %}
{% include "../includes/header_dbs.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../includes/phase-banner.html" %}

<a href="offline-birth-place" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">








               <h1 class="govuk-heading-xl page-heading">What is your current address?</h1>


               <form action="" method="post" class="form">




               <div class="govuk-form-group ">



                   <label class="govuk-label" for="postcode-input">
                     UK postcode
                   </label>


                 <input
                   class="govuk-input govuk-input--width-20 "
                   name="postcode-input"


                   type="text"
                   id="postcode-input"
                   value=""
                   autocomplete="postal-code"
                   >


               </div>



                 <!-- <input type="submit" class="govuk-button" value="Look up address" id="lookup"> -->


                 <a href="offline-address-details" type="submit" class="govuk-button" id="save-and-continue" role="button">Continue</a>

             </form>





  <div class="govuk-form-group">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary help-text-link">
        <span class="govuk-details__summary-text">Add your address manually</span>
      </summary>
      <div class="govuk-details__text">


            <p>If you have a non-UK address, or your UK address can't be found, you can <a href="/questions/addresses/current/details/new">add your address manually</a>. However, you'll need to visit a UK post office to complete your application.</p>


      </div>
    </details>
  </div>




  </div>
</div>

{% endblock %}
