{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Download your Post Office Customer Letter
{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
    <a class="govuk-button" href="/public/downloads/PostOfficeCustomerLetter.pdf" rel="noreferrer noopener" target="_blank" download>
      Download customer letter (PDF)</a>

      <a class="govuk-button" href="/public/downloads/Post Office Customer letter.html" rel="noreferrer noopener" target="_blank" download>
        Download customer letter (HTML)</a>

    




<!--href="/public/downloads/customer_letter2.pdf"
   <p class="govuk-body">You can download your Post Office customer letter at: <a class="govuk-link govuk-link--no-visited-state" href="./offline-email-attachment" rel="noreferrer noopener" target="_blank">
    https://documents.service.gov.uk/d/NqWo3pW3T_G_6IR09B1N9A/OhTvE<br>
    0DXSnezXa0YG7K-kQ?key=dl-_LomVNvxOP9wUSGR-0-hi29uSw_zJ-DZSw29LtgU</a></p>
   -->

   <!--
   
     <p class="govuk-body">You can download your Post Office customer letter at: <a class="govuk-link govuk-link--no-visited-state" href="/public/downloads/PostOfficeCustomerLetter.pdf" rel="noreferrer noopener" target="_blank" download>
      https://documents.service.gov.uk/d/NqWo3pW3T_G_6IR09B1N9A/OhTvE
0DXSnezXa0YG7K-kQ?key=dl-_LomVNvxOP9wUSGR-0-hi29uSw_zJ-DZSw29LtgU</a></p>
     -->


</div>





</div>

{% endblock %}