
{% extends "layout.html" %}

{% block pageTitle %}
  DI Offline Journey Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        GDS Digital Identity Assisted Verification Design Journey
  </h1>
    </div>
 <div class="govuk-grid-column-two-thirds">
  <table class="govuk-table">


    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-4  govuk-!-margin-top-4">
            F2F POC Journey 
          </h2>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
            Objectives
          </h2>
          <ul>

        <li>Sign your mortgage deed service</li>
        <li>Claimed Identity Collector</li>
        <li>Post Office lookup</li>
        <li>Latest return journey</li>


          </ul>
            <a href="v7/index.html" class="govuk-button  govuk-!-margin-top-4" ><strong>Launch</strong></a>
        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--red  govuk-!-margin-top-4" style="font-size: 16px;">poc</strong>
          <p class="govuk-hint govuk-!-margin-top-1"><small>March 2023</small></p>
        </td>


      </tr>
    </tbody>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-4  govuk-!-margin-top-4">
            Private Beta Round 9 (MVP) 
          </h2>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
            Objectives
          </h2>
          <ul>

        <li>Sign your mortgage deed service</li>
        <li>Integrated PO lookup</li>
        <li>Document screening</li>
        <li>CIC CRI</li>


          </ul>
            <a href="v10/index.html" class="govuk-button  govuk-!-margin-top-4" ><strong>Launch</strong></a>
        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--orange  govuk-!-margin-top-4" style="font-size: 11px;">in design</strong>
          <p class="govuk-hint govuk-!-margin-top-1"><small>April 2023</small></p>
        </td>


      </tr>
    </tbody>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-4  govuk-!-margin-top-4">
            Private Beta Round 8 (MVP) 
          </h2>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
            Objectives
          </h2>
          <ul>

        <li>Sign your mortgage deed service</li>
        <li>Integrated PO lookup</li>
        <li>Revised return journey</li>
        <li>CIC CRI</li>


          </ul>
            <a href="v9/index.html" class="govuk-button  govuk-!-margin-top-4" ><strong>Launch</strong></a>
        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--blue  govuk-!-margin-top-4" style="font-size: 11px;">research complete</strong>
          <p class="govuk-hint govuk-!-margin-top-1"><small>March 2023</small></p>
        </td>


      </tr>
    </tbody>


    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-4  govuk-!-margin-top-4">
            Private Beta Round 7 (MVP) 
          </h2>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
            Objectives
          </h2>
          <ul>

        <li>Sign your mortgage deed service</li>
        <li>No PO lookup</li>
        <li>Return journey option 2</li>


          </ul>
            <a href="v8/index.html" class="govuk-button  govuk-!-margin-top-4" ><strong>Launch</strong></a>
        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--blue  govuk-!-margin-top-4" style="font-size: 11px;">research complete</strong>
          <p class="govuk-hint govuk-!-margin-top-1"><small>March 2023</small></p>
        </td>


      </tr>
    </tbody>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-4  govuk-!-margin-top-4">
            Private Beta Round 6 (MVP)
          </h2>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
            Objectives
          </h2>
          <ul>

        <li>Updated return journey</li>
        <li>Return journey expectations & needs</li>
        <li>A/B testing</li>


          </ul>
            <a href="v7/index.html" class="govuk-button  govuk-!-margin-top-4" ><strong>Launch</strong></a>
        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--blue  govuk-!-margin-top-4" style="font-size: 11px;">research complete</strong>
          <p class="govuk-hint govuk-!-margin-top-1"><small>Feb 2023</small></p>
        </td>


      </tr>
    </tbody>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-4  govuk-!-margin-top-4">
            Private Beta Round 5 (MVP)
          </h2>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
            Objectives
          </h2>
          <ul>

        <li>Updated return journey</li>
        <li>Return journey expectations & needs</li>
        <li>A/B testing</li>


          </ul>
            <a href="v5/index.html" class="govuk-button  govuk-!-margin-top-4" ><strong>Launch</strong></a>
        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--blue  govuk-!-margin-top-4" style="font-size: 11px;">research complete</strong>
          <p class="govuk-hint govuk-!-margin-top-1"><small>Jan 2023</small></p>
        </td>


      </tr>
    </tbody>

    <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-4  govuk-!-margin-top-4">
                Private Beta Round 4 (MVP)
              </h2>
              <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
                Objectives
              </h2>
              <ul>

            <li>Test revised return journey after PO</li>
            <li>Unhappy paths/scenarios</li>
            <li>Test error mitigation designs</li>


              </ul>
                <a href="v4/index.html" class="govuk-button  govuk-!-margin-top-4" ><strong>Launch</strong></a>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue  govuk-!-margin-top-4" style="font-size: 11px;">Research complete</strong>
              <p class="govuk-hint govuk-!-margin-top-1"><small>Nov-Dec 2022</small></p>
            </td>


          </tr>
        </tbody>


    <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-4  govuk-!-margin-top-4">
                Private Beta Round 3 (MVP)
              </h2>
              <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
                Objectives
              </h2>
              <ul>

            <li>Test revised PO online journey (before & after PO)</li>
            <li>Integrated Post office branch finder usability</li>
            <li>Test choice (triage) page preferences</li>
            <li>Return journey options</li>

              </ul>
                <a href="v3/index.html" class="govuk-button  govuk-!-margin-top-4" ><strong>Launch</strong></a>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue  govuk-!-margin-top-4" style="font-size: 11px;">research complete</strong>
              <p class="govuk-hint govuk-!-margin-top-1"><small>Nov 2022</small></p>
            </td>


          </tr>
        </tbody>


    <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-4  govuk-!-margin-top-4">
                Private Beta Round 2 (MVP)
              </h2>
              <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
                Objectives
              </h2>
              <ul>

            <li>Iterated online application journey usability</li>
            <li>Post office branch finder usability</li>
            <li>Offline journey expectations and needs</li>
            <li>Unhappy scenarios expectations</li>

              </ul>
                <a href="v2/index.html" class="govuk-button  govuk-!-margin-top-4" ><strong>Launch</strong></a>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue  govuk-!-margin-top-4" style="font-size: 11px;">research complete</strong>
              <p class="govuk-hint govuk-!-margin-top-1"><small>Oct 2022</small></p>
            </td>


          </tr>
        </tbody>

  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-4  govuk-!-margin-top-4">
              Private Beta Round 1 (MVP)
            </h2>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
              Objectives
            </h2>
            <ul>
                <li>Test the funnel flow usability</li>
                <li>Test options on the closeness of the journey</li>
            </ul>
              <a href="v1/index.html" class="govuk-button  govuk-!-margin-top-4" ><strong>Launch</strong></a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue  govuk-!-margin-top-4" style="font-size: 11px;">research complete</strong>
            <p class="govuk-hint govuk-!-margin-top-1"><small>Sep 2022</small></p>
          </td>

        </tr>
      </tbody>
      </table>

    </div>
    <div class="govuk-grid-column-one-third">
    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Other related links</span>
        <a href="https://app.mural.co/t/governmentdigitalservice1334/m/governmentdigitalservice1334/1658844292274/61db8f51a3a9cf4b14887c98c0baf78e2d783ca0?wid=0-1664296402387&sender=u461288b61334e5ca996c2801" target="_blank" class="govuk-body govuk-!-font-size-16"> Mural</a><br>
          <a href="https://www.figma.com/file/fRKoBQy9IqlzSFDgg3Fhvs/DI-Assisted-Journey-Triage-screens?node-id=0%3A1" target="_blank"  class="govuk-body govuk-!-font-size-16">Figma</a><br>

      </h2>
    </div>
  </div>
  </div>

{% endblock %}
