{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Benefits",
      href: "#"
    },
    {
      text: "Benefits and financial support if you're caring for someone",
      href: "#"
    }
  ]
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">

   <h1 class="govuk-heading-xl">
     Carer's Allowance
   </h1>

   <span class="app-step-nav-related__pretitle govuk-body">Contents</span><br>
   <ul class="govuk-list govuk-list--spaced">
   <li>&#8212;&nbsp;&nbsp;<a href="index" class="govuk-body govuk-!-font-size-19 ">How it works</a></li>
   <li>&#8212;&nbsp;&nbsp;<a href="index-ca1" class="govuk-body govuk-!-font-size-19 ">Eligibility</a></li>
   <p style="color:black;"><li>&#8212;&nbsp;&nbsp;Effect on other benefits</li>
   <li>&#8212;&nbsp;&nbsp;<a href="index-ca3"  class="govuk-body govuk-!-font-size-19 govuk-link--no-visited-state">Make a claim</a></li>
   <li>&#8212;&nbsp;&nbsp;<a href="index-ca4"  class="govuk-body govuk-!-font-size-19 govuk-link--no-visited-state">Report a change in circumstances</a></li>
   &#8212;&nbsp;&nbsp;<a href="index-ca5" class="govuk-body govuk-!-font-size-19 govuk-link--no-visited-state">If you're working</a><br>
   </p>
   </ul>

   <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="border-color:black;border-width: thin;">

   <h2 class="govuk-heading-l govuk-!-font-size-36">Effect on other benefits</h2>

<p>Carer’s Allowance can affect the other benefits that both you and the person you care for get.</p>
   

<h2 class="govuk-heading-l">Effect on the benefits of the person you care for</h2>

   <p>When you get Carer’s Allowance, the person you care for will usually stop getting:</p>

   <ul class="govuk-list govuk-list--bullet">
    <li>a <a href="#" class="govuk-link--no-visited-state">severe disability premium</a> paid with their benefits</li>
    <li>an extra amount for severe disability paid with <a href="#" class="govuk-link--no-visited-state">Pension Credit</a></li>
  </ul>

  <p>You can check if their severe disability payment will stop by contacting whoever pays this benefit. This is usually <a href="#" class="govuk-link--no-visited-state">Jobcentre Plus</a>, their <a href="#" class="govuk-link--no-visited-state">local council</a>, the <a href="#" class="govuk-link--no-visited-state">Pension Service Helpline</a> or <a href="#" class="govuk-link--no-visited-state">Universal Credit</a>.</p>

  <p>They might also stop getting reduced Council Tax. Contact their <a href="#" class="govuk-link--no-visited-state">local council</a> to find out if this affects them.</p>

  <h2 class="govuk-heading-l">Effect on your benefits</h2>

<p>When you claim Carer’s Allowance your other benefit payments may change, but your total benefit payments will usually either go up or stay the same.</p>

<p>You will not be affected by the <a href="#" class="govuk-link--no-visited-state">benefit cap</a>.</p>

<div class="govuk-inset-text">
    Use a <a href="#" class="govuk-link--no-visited-state">benefits calculator</a> to work out how your other benefits will be affected.
  </div>

  <h3 class="govuk-heading-m">If you get Universal Credit</h3>

  <p>Your Universal Credit payment will be reduced by an amount equal to your Carer’s Allowance payment.</p>

  <p>You may get an <a href="#" class="govuk-link--no-visited-state">extra amount of Universal Credit for caring for someone who gets a disability-related benefit</a> (whether you get Carer’s Allowance or not).</p>

  <p><a href="#" class="govuk-link--no-visited-state">Report a change on your Universal Credit account</a>.</p>

  <p>Which benefits you get will affect which <a href="#" class="govuk-link--no-visited-state">National Insurance credits</a> you’re eligible for. If you get:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Carer’s Allowance payments you get Class 1 National Insurance credits, which help you qualify for some other benefits and State Pension</li>
    <li>Universal Credit you get Class 3 National Insurance credits, which count towards your State Pension only</li>
  </ul>

  <h3 class="govuk-heading-m">If you get Working Tax Credit or Child Tax Credit</h3>

  <p>You must <a href="#" class="govuk-link--no-visited-state">contact HM Revenue and Customs (HMRC)</a> to tell them about your Carer’s Allowance claim.</p>

  <h3 class="govuk-heading-m">If you’ve reached State Pension age</h3>

  <p>If you get <a href="#" class="govuk-link--no-visited-state">Pension Credit</a>, your payments will increase if you’re eligible for Carer’s Allowance.</p>

  <p>If you <a href="#" class="govuk-link--no-visited-state">delay claiming your State Pension</a>, this could increase the State Pension payments you get when you decide to claim it. You cannot build up extra State Pension during any period you get Carer’s Allowance.</p>

  

  <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination">

    <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="index-ca1" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/carers-allowance" data-track-dimension="previous" data-track-dimension-index="29">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Eligibility</span>
        </a>
      </div>

    <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="index-ca3" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/carers-allowance/eligibility" data-track-dimension="next" data-track-dimension-index="29">
        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
        <span class="govuk-pagination__link-title">Next</span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label">Make a claim</span>
      </a>
    </div>
</nav>

<p><a href="#" class="govuk-link--no-visited-state">View a printable version of the whole guide</a></p>

<!---
<h2 class="govuk-heading-m">If you've already visited a Post Office to prove your identity</h2>

<p>If you’ve already visited a Post Office to prove your identity, continue to view the result of your identity check.</p>

<br>
-->
<!--
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I've already visited a Post Office to prove my identity
    </span>
  </summary>
  <div class="govuk-details__text">
    If you've already visited a Post Office, continue and then sign in to your GOV.UK One Login to view your result.
  </div>
</details>
-->


<!--
<div class="govuk-inset-text" style="border-color:#b1b4b6;
border-width: thin;">
  DVSA customer service centre<br>
  Telephone: 0300 123 9000 <br>
  Monday to Friday, 7:30am to 6pm<br>
  <a href="#">Find out about call charges</a>
</div>

<p>If you live in Northern Ireland, contact the Transport Regulation Unit to get help with your application.</p>

<div class="govuk-inset-text" style="border-color:#b1b4b6;
border-width: thin;">
  Transport Regulation Unit<br>
  Telephone: 0300 200 7831<br>
  Monday to Friday, 9am to 5pm<br>
  <a href="#">Find out about call charges</a>
</div>
-->
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h3 class="govuk-heading-m">Explore the topic</h3>

<p class="govuk-body-s"><a href="#"><b>Benefits and financial support if you're caring for someone</b></a></p>
<p class="govuk-body-s"><a href="#"><b>Lasting power of attorney, being in care and managing finances</b></a></p>
<p class="govuk-body-s"><a href="#"><b>Carers</b></a></p>

<h3 class="govuk-heading-m">Elsewhere on the web</h3>

<p class="govuk-body-s"><a href="#">Claiming benefits if you live, move or travel abroad</a></p>


   </div>

   <div class="govuk-grid-column-one-third">
    <br><br><br> <br> <br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    
    

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Related content</span>
        <p><a href="#" target="_blank" class="govuk-body ">Carer's Allowance: report changes</a></p>
          <p><a href="#" target="_blank"  class="govuk-body ">Attendance Allowance</a></p>
          <p><a href="#" target="_blank"  class="govuk-body ">Carer's Credit</a></p>
          <p><a href="#" target="_blank"  class="govuk-body ">Constant Attendance Allowance</a></p>
          <p><a href="#" target="_blank"  class="govuk-body ">Show 3 more</a></p>

      </h2>
    </div>
  </div>
 </div>

 <style type="text/css">
  .app-step-nav-related {
      border-color:#1d70b8;
      border-width: thin;

    }
</style>

<!--
 <style type="text/css">
  .govuk-inset-text {
      border-color:#b1b4b6;
      border-width: thin;

    }
</style>
-->
<style type="text/css">
  .govuk-section-break {
      background-color: #1d70b8;
      color:#1d70b8;
      border-color:#1d70b8;
      border-width: medium;

    }
</style>


{% endblock %}