
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "../includes/header_v1.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Benefits",
      href: "#"
    },
    {
      text: "Benefits and financial support if you're caring for someone",
      href: "#"
    }
  ]
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">

   <h1 class="govuk-heading-xl">
     Carer's Allowance
   </h1>

   <span class="app-step-nav-related__pretitle govuk-body">Contents</span>
   <ul class="govuk-list govuk-list--spaced">
   <p style="color:black;"><li>&#8212;&nbsp;&nbsp;How it works</li>
   <li>&#8212;&nbsp;&nbsp;<a href="index-ca12" class="govuk-body govuk-!-font-size-19 govuk-link--no-visited-state">Eligibility</a></li>
   <li>&#8212;&nbsp;&nbsp;<a href="index-ca22"  class="govuk-body govuk-!-font-size-19 govuk-link--no-visited-state">Effect on other benefits</a></li>
   <li>&#8212;&nbsp;&nbsp;<a href="index-ca-return"  class="govuk-body govuk-!-font-size-19 govuk-link--no-visited-state">Make a claim</a></li>
   <li>&#8212;&nbsp;&nbsp;<a href="index-ca42"  class="govuk-body govuk-!-font-size-19 govuk-link--no-visited-state">Report a change in circumstances</a></li>
   &#8212;&nbsp;&nbsp;<a href="index-ca52" class="govuk-body govuk-!-font-size-19 govuk-link--no-visited-state">If you're working</a><br>
   </p>
   </ul>

   <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="border-color:black;border-width: thin;">

   <h2 class="govuk-heading-l">How it works</h2>

   <p>You could get £76.75 a week if you care for someone at least 35 hours a week and they get <a href="#" class="govuk-link--no-visited-state">certain benefits</a>.</p>

   <p>You do not have to be related to, or live with, the person you care for.</p>

   <p>You do not get paid extra if you care for more than one person.</p>

   <p>If someone else also cares for the same person as you, only one of you can claim Carer’s Allowance.</p>

   <div class="govuk-inset-text">
    Carer’s Allowance can affect the <a href="#" class="govuk-link--no-visited-state">other benefits that you and the person you care for get</a>. You have to pay tax on it if your income is over the <a href="#" class="govuk-link--no-visited-state">Personal Allowance</a>.
  </div>

  <p>This guide is also available <a href="#" class="govuk-link--no-visited-state">in Welsh (Cymraeg)</a> and in an <a href="#" class="govuk-link--no-visited-state">easy read format</a>.</p>

  <h2 class="govuk-heading-l">How you're paid</h2>

  <p>You can choose to be paid weekly in advance or every 4 weeks.</p>

  <p>It will be paid <a href="#" class="govuk-link--no-visited-state">into an account</a>, for example your bank account.</p>

  <h2 class="govuk-heading-l">What else you can get</h2>

  <p>For each week you get Carer’s Allowance you’ll automatically get <a href="#" class="govuk-link--no-visited-state">National Insurance credits</a>.</p>

   <p>You may also be able to apply for:</p>

   <ul class="govuk-list govuk-list--bullet">
    <li><a href="#" class="govuk-link--no-visited-state">support from your local council</a></li>
    <li>a <a href="#" class="govuk-link--no-visited-state">Council Tax Reduction</a></li>
    <li><a href="#" class="govuk-link--no-visited-state">Universal Credit</a> if you're on a low income or out of work</li>
    <li><a href="#" class="govuk-link--no-visited-state">Pension Credit</a> if you're over working age</li>
    <li><a href="#" class="govuk-link--no-visited-state">grants and bursaries</a> to help pay for courses and training</li>
    <li><a href="#" class="govuk-link--no-visited-state">Income Support</a> (if you get the severe disability premium and you’re on a low income)</li>
    <li><a href="#" class="govuk-link--no-visited-state">income-based Employment and Support Allowance</a> (if you get the severe disability premium and you cannot work)</li>
  </ul>

  <p>If you live in Scotland and get Carer’s Allowance, you may also get <a href="#" class="govuk-link--no-visited-state">Carer’s Allowance Supplement</a>.</p>

  <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination">

    <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="index-ca12" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/carers-allowance/eligibility" data-track-dimension="next" data-track-dimension-index="29">
        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
        <span class="govuk-pagination__link-title">Next</span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label">Eligibility</span>
      </a>
    </div>
</nav>

<p><a href="#" class="govuk-link--no-visited-state">View a printable version of the whole guide</a></p>

<!---
<h2 class="govuk-heading-m">If you've already visited a Post Office to prove your identity</h2>

<p>If you’ve already visited a Post Office to prove your identity, continue to view the result of your identity check.</p>

<br>
-->
<!--
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I've already visited a Post Office to prove my identity
    </span>
  </summary>
  <div class="govuk-details__text">
    If you've already visited a Post Office, continue and then sign in to your GOV.UK One Login to view your result.
  </div>
</details>
-->


<!--
<div class="govuk-inset-text" style="border-color:#b1b4b6;
border-width: thin;">
  DVSA customer service centre<br>
  Telephone: 0300 123 9000 <br>
  Monday to Friday, 7:30am to 6pm<br>
  <a href="#">Find out about call charges</a>
</div>

<p>If you live in Northern Ireland, contact the Transport Regulation Unit to get help with your application.</p>

<div class="govuk-inset-text" style="border-color:#b1b4b6;
border-width: thin;">
  Transport Regulation Unit<br>
  Telephone: 0300 200 7831<br>
  Monday to Friday, 9am to 5pm<br>
  <a href="#">Find out about call charges</a>
</div>
-->
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h3 class="govuk-heading-m">Explore the topic</h3>

<p class="govuk-body-s"><a href="#"><b>Benefits and financial support if you're caring for someone</b></a></p>
<p class="govuk-body-s"><a href="#"><b>Lasting power of attorney, being in care and managing finances</b></a></p>
<p class="govuk-body-s"><a href="#"><b>Carers</b></a></p>

<h3 class="govuk-heading-m">Elsewhere on the web</h3>

<p class="govuk-body-s"><a href="#">Claiming benefits if you live, move or travel abroad</a></p>




   </div>

   <div class="govuk-grid-column-one-third">
    <br><br><br> <br> <br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    
    

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Related content</span>
        <p><a href="#" target="_blank" class="govuk-body ">Carer's Allowance: report changes</a></p>
          <p><a href="#" target="_blank"  class="govuk-body ">Attendance Allowance</a></p>
          <p><a href="#" target="_blank"  class="govuk-body ">Carer's Credit</a></p>
          <p><a href="#" target="_blank"  class="govuk-body ">Constant Attendance Allowance</a></p>
          <p><a href="#" target="_blank"  class="govuk-body ">Show 3 more</a></p>

      </h2>
    </div>
  </div>
 </div>

 <style type="text/css">
  .app-step-nav-related {
      border-color:#1d70b8;
      border-width: medium;

    }
</style>

<!--
 <style type="text/css">
  .govuk-inset-text {
      border-color:#b1b4b6;
      border-width: thin;

    }
</style>
-->
<style type="text/css">
  .govuk-section-break {
      background-color: #1d70b8;
      color:#1d70b8;
      border-color:#1d70b8;
      border-width: medium;

    }
</style>


{% endblock %}


